* {
    padding: 0;
    margin: 0;
}

div,
dl,
dt,
dd,
form,
h1,
h2,
h3,
h4,
h5,
h6,
img,
ol,
ul,
li,
table,
th,
td,
p,
span,
a {
    border: 0;
}

img,
input {
    border: none;
    vertical-align: middle;
}

body {
    font-family: Tahoma, Arial, Helvetica, "宋体";
    font-size: 12px;
    ;
    background: #FFF;
    color: #333;
}

html {
    overflow-y: scroll;
}

ul,
ol {
    list-style-type: none;
}

th,
td,
input {
    font-size: 12px;
}

h3 {
    font-size: 14px;
}

button {
    border: none;
    cursor: pointer;
    font-size: 12px;
    background-color: transparent;
}

select {
    border-width: 1px;
    _zoom: 1;
    border-style: solid;
    padding-top: 2px;
    font-size: 12px;
}

.clear {
    clear: both;
    font-size: 1px;
    height: 0;
    visibility: hidden;
    line-height: 0;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.clearfix {
    zoom: 1;
}

a:link,
a:visited {
    text-decoration: none;
    color: #333;
}

a:hover,
a:active {
    text-decoration: underline;
    color: #f60;
}

html,
body,
.box {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-size: 0.32rem;
}

#musicBox {
    position: fixed;
    bottom: 1.2rem;
    left: 1rem;
    width: 1.2rem;
    height: 1.2rem;
    background: url(../images/music.png) no-repeat center;
    background-size: 100% 100%;
    -webkit-animation: rotateMis 1.5s linear infinite;
    -moz-animation: rotateMis 1.5s linear infinite;
    -ms-animation: rotateMis 1.5s linear infinite;
    -o-animation: rotateMis 1.5s linear infinite;
    animation: rotateMis 1.5s linear infinite 
}
.musicoff{-webkit-animation:none!important}
.swiper-wrapper {
    width: 100%;
    height: 300%;
    display: flex;
    flex-direction: column;
}

.swiper-wrapper .swiper-slide {
    width: 100%;
    flex: 1;
}

.swiper-slide:nth-child(1) {
    background: url("../images/bg1.png") no-repeat center;
    background-size: 100% 100%;
    position: relative;
}

.swiper-slide:nth-child(2) {
    background: url("../images/bg2.png") no-repeat center;
    background-size: 100% 100%;
    position: relative;
}
.swiper-slide:nth-child(2) img{
    width:100%;
}
.swiper-slide:nth-child(3) {
    background: url("../images/bg3.jpg") no-repeat center;
    background-size: 100% 100%;
    position: relative;
}

.swiper-slide img {
    max-width: 100%;
    max-height: 100%;
    visibility: visible;
    position: absolute;
}

.swiper-slide:nth-child(1) img:nth-child(1) {
    bottom: 0;
    left: 0;
}

.swiper-slide:nth-child(1) img:nth-child(2) {
    /*margin-left: 2rem;*/
}


.swiper-slide:nth-child(1) img:nth-child(3) {
    margin-top: 2rem;
    width: 15%;
    right: 0.25rem;
    top: 6rem;
}

.swiper-slide:nth-child(1) img:nth-child(4) {
    width:50%;
    top:0.5rem;
    left:25%;
}

.swiper-slide:nth-child(1) img:nth-child(5) {
    width: 21%;
    top: 4.75rem;
    left: 40%;
}
.swiper-slide:nth-child(1) img:nth-child(6) {
    width: 65%;
    bottom: 0.5rem;
    left: 17.5%;
}
.swiper-slide:nth-child(1) img:nth-child(7) {
    bottom: 0.15rem;
    left: 15%;
}


.swiper-slide:nth-child(2) img:nth-child(15) {
    right: 0;
    top: 2.7rem;
    width: 25%;
    height: 25%;
}
/*.swiper-slide:nth-child(3) img:nth-child(4) {
    width: 12%;
    left: 1.3rem;
    top: 3rem;
}*/
.swiper-slide:nth-child(2) img:nth-child(19) {
    bottom: 0.15rem;
    left: 15%;
}
/* .swiper-slide:nth-child(3) img:nth-child(4) {
    width: 27%;
    bottom: 7.3rem;
    right: 1rem;
} */

.xiaoMove {
    animation-name: xiaoMove;
}

.jiangMove {
    animation-name: jiangMove;
}

.jiuMove {
    animation-name: jiuMove;
}

.taoMove {
    animation-name: taoMove;
}

.writePMove {
    animation-name: writePMove;
}

.blackPMove {
    animation-name: blackPMove;
}
.scaleSize{
    animation-name: scaleSize;
}
.turn-down{
    width: 1rem;
    height: 1rem;
    position: fixed;
    bottom: 2rem;
    left: 45%;
    animation: fadeDown 2s infinite;
}
.turn-down img{
    width:100%;
    height: 100%；
}

/* 萧远动画 */
@keyframes xiaoMove {
    from {
        transform: translate3d(-100%, -100%, 0);
        -webkit-transform: translate3d(-100%, -100%, 0);
        -o-transform: translate3d(-100%, -100%, 0);
        -moz-transform: translate3d(-100%, -100%, 0);
        -ms-transform: translate3d(-100%, -100%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
    }
}
@-moz-keyframes xiaoMove {
    from {
        transform: translate3d(-100%, -100%, 0);
        -webkit-transform: translate3d(-100%, -100%, 0);
        -o-transform: translate3d(-100%, -100%, 0);
        -moz-transform: translate3d(-100%, -100%, 0);
        -ms-transform: translate3d(-100%, -100%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
    }
}
@-ms-keyframes xiaoMove {
    from {
        transform: translate3d(-100%, -100%, 0);
        -webkit-transform: translate3d(-100%, -100%, 0);
        -o-transform: translate3d(-100%, -100%, 0);
        -moz-transform: translate3d(-100%, -100%, 0);
        -ms-transform: translate3d(-100%, -100%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
    }
}
@-o-keyframes xiaoMove {
    from {
        transform: translate3d(-100%, -100%, 0);
        -webkit-transform: translate3d(-100%, -100%, 0);
        -o-transform: translate3d(-100%, -100%, 0);
        -moz-transform: translate3d(-100%, -100%, 0);
        -ms-transform: translate3d(-100%, -100%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes xiaoMove {
    from {
        transform: translate3d(-100%, -100%, 0);
        -webkit-transform: translate3d(-100%, -100%, 0);
        -o-transform: translate3d(-100%, -100%, 0);
        -moz-transform: translate3d(-100%, -100%, 0);
        -ms-transform: translate3d(-100%, -100%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
    }
}

/* 姜爻 */
@keyframes jiangMove {
    from {
        transform: translate3d(100%, -100%, 0);
        -webkit-transform: translate3d(100%, -100%, 0);
        -o-transform: translate3d(100%, -100%, 0);
        -moz-transform: translate3d(100%, -100%, 0);
        -ms-transform: translate3d(100%, -100%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
    }
}
@-moz-keyframes jiangMove {
    from {
        transform: translate3d(100%, -100%, 0);
        -webkit-transform: translate3d(100%, -100%, 0);
        -o-transform: translate3d(100%, -100%, 0);
        -moz-transform: translate3d(100%, -100%, 0);
        -ms-transform: translate3d(100%, -100%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
    }
}
@-ms-keyframes jiangMove {
    from {
        transform: translate3d(100%, -100%, 0);
        -webkit-transform: translate3d(100%, -100%, 0);
        -o-transform: translate3d(100%, -100%, 0);
        -moz-transform: translate3d(100%, -100%, 0);
        -ms-transform: translate3d(100%, -100%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
    }
}
@-o-keyframes jiangMove {
    from {
        transform: translate3d(100%, -100%, 0);
        -webkit-transform: translate3d(100%, -100%, 0);
        -o-transform: translate3d(100%, -100%, 0);
        -moz-transform: translate3d(100%, -100%, 0);
        -ms-transform: translate3d(100%, -100%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
    }
}
@-webkit-keyframes jiangMove {
    from {
        transform: translate3d(100%, -100%, 0);
        -webkit-transform: translate3d(100%, -100%, 0);
        -o-transform: translate3d(100%, -100%, 0);
        -moz-transform: translate3d(100%, -100%, 0);
        -ms-transform: translate3d(100%, -100%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
    }
}

/* 九牙 */
@keyframes jiuMove {
    from {
        transform: translate3d(-100%, 0, 0);
        -webkit-transform: translate3d(-100%, 0, 0);
        -o-transform: translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
    }
}
@-moz-keyframes jiuMove {
    from {
        transform: translate3d(-100%, 0, 0);
        -webkit-transform: translate3d(-100%, 0, 0);
        -o-transform: translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
    }
}
@-ms-keyframes jiuMove {
    from {
        transform: translate3d(-100%, 0, 0);
        -webkit-transform: translate3d(-100%, 0, 0);
        -o-transform: translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
    }
}
@-o-keyframes jiuMove {
    from {
        transform: translate3d(-100%, 0, 0);
        -webkit-transform: translate3d(-100%, 0, 0);
        -o-transform: translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0 0 0);
        -o-transform: translate3d(0 0 0);
        -moz-transform: translate3d(0 0 0);
        -ms-transform: translate3d(0 0 0);
    }
}
@-webkit-keyframes jiuMove {
    from {
        transform: translate3d(-100%, 0, 0);
        -webkit-transform: translate3d(-100%, 0, 0);
        -o-transform: translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
    }
}

/* 饕鬄 */
@keyframes taoMove {
    from {
        transform: translate3d(-200%, 200%, 0);
        -webkit-transform: translate3d(-200%, 200%, 0);
        -o-transform: translate3d(-200%, 200%, 0);
        -moz-transform: translate3d(-200%, 200%, 0);
        -ms-transform: translate3d(-200%, 200%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
    }
}
@-moz-keyframes taoMove {
    from {
        transform: translate3d(-200%, 200%, 0);
        -webkit-transform: translate3d(-200%, 200%, 0);
        -o-transform: translate3d(-200%, 200%, 0);
        -moz-transform: translate3d(-200%, 200%, 0);
        -ms-transform: translate3d(-200%, 200%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
    }
}
@-ms-keyframes taoMove {
    from {
        transform: translate3d(-200%, 200%, 0);
        -webkit-transform: translate3d(-200%, 200%, 0);
        -o-transform: translate3d(-200%, 200%, 0);
        -moz-transform: translate3d(-200%, 200%, 0);
        -ms-transform: translate3d(-200%, 200%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
    }
}
@-o-keyframes taoMove {
    from {
        transform: translate3d(-200%, 200%, 0);
        -webkit-transform: translate3d(-200%, 200%, 0);
        -o-transform: translate3d(-200%, 200%, 0);
        -moz-transform: translate3d(-200%, 200%, 0);
        -ms-transform: translate3d(-200%, 200%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
    }
}
@-webkit-keyframes taoMove {
    from {
        transform: translate3d(-200%, 200%, 0);
        -webkit-transform: translate3d(-200%, 200%, 0);
        -o-transform: translate3d(-200%, 200%, 0);
        -moz-transform: translate3d(-200%, 200%, 0);
        -ms-transform: translate3d(-200%, 200%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
    }
}

/* 白无常 */
@-moz-keyframes writePMove {
    from {
        transform: translate3d(100%, 0, 0);
        -webkit-transform: translate3d(100%, 0, 0);
        -o-transform: translate3d(100%, 0, 0);
        -moz-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
    }
}
@-ms-keyframes writePMove {
    from {
        transform: translate3d(100%, 0, 0);
        -webkit-transform: translate3d(100%, 0, 0);
        -o-transform: translate3d(100%, 0, 0);
        -moz-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
    }
}
@-o-keyframes writePMove {
    from {
        transform: translate3d(100%, 0, 0);
        -webkit-transform: translate3d(100%, 0, 0);
        -o-transform: translate3d(100%, 0, 0);
        -moz-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
    }
}
@-webkit-keyframes writePMove {
    from {
        transform: translate3d(100%, 0, 0);
        -webkit-transform: translate3d(100%, 0, 0);
        -o-transform: translate3d(100%, 0, 0);
        -moz-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
    }
}
@keyframes writePMove {
    from {
        transform: translate3d(100%, 0, 0);
        -webkit-transform: translate3d(100%, 0, 0);
        -o-transform: translate3d(100%, 0, 0);
        -moz-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
    }
}

/* 黑无常 */
@-webkit-keyframes blackPMove {
    from {
        transform: translate3d(100%, 100%, 0);
        -webkit-transform: translate3d(100%, 100%, 0);
        -o-transform: translate3d(100%, 100%, 0);
        -moz-transform: translate3d(100%, 100%, 0);
        -ms-transform: translate3d(100%, 100%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
    }
}
@-moz-keyframes blackPMove {
    from {
        transform: translate3d(100%, 100%, 0);
        -webkit-transform: translate3d(100%, 100%, 0);
        -o-transform: translate3d(100%, 100%, 0);
        -moz-transform: translate3d(100%, 100%, 0);
        -ms-transform: translate3d(100%, 100%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
    }
}
@-ms-keyframes blackPMove {
    from {
        transform: translate3d(100%, 100%, 0);
        -webkit-transform: translate3d(100%, 100%, 0);
        -o-transform: translate3d(100%, 100%, 0);
        -moz-transform: translate3d(100%, 100%, 0);
        -ms-transform: translate3d(100%, 100%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
    }
}
@-o-keyframes blackPMove {
    from {
        transform: translate3d(100%, 100%, 0);
        -webkit-transform: translate3d(100%, 100%, 0);
        -o-transform: translate3d(100%, 100%, 0);
        -moz-transform: translate3d(100%, 100%, 0);
        -ms-transform: translate3d(100%, 100%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
    }
}
@keyframes blackPMove {
    from {
        transform: translate3d(100%, 100%, 0);
        -webkit-transform: translate3d(100%, 100%, 0);
        -o-transform: translate3d(100%, 100%, 0);
        -moz-transform: translate3d(100%, 100%, 0);
        -ms-transform: translate3d(100%, 100%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
    }
}

/* 音乐旋转 */
@-webkit-keyframes rotateMis {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
        -ms-transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
        -ms-transform: rotate(360deg)
    }
}

@-moz-keyframes rotateMis {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
        -ms-transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
        -ms-transform: rotate(360deg)
    }
}

@-ms-keyframes rotateMis {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
        -ms-transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
        -ms-transform: rotate(360deg)
    }
}

@-o-keyframes rotateMis {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
        -ms-transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
        -ms-transform: rotate(360deg)
    }
}

@keyframes rotateMis {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
        -ms-transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
        -ms-transform: rotate(360deg)
    }
}

/* 姜爻姓名 */
@keyframes scaleSize {
    0%{
        transform: scale(1,1);
       -webkit-transform: scale(1,1);
       -moz-transform: scale(1,1);
       -ms-transform: scale(1,1);
       -o-transform: scale(1,1);
       opacity:0;
    }
    50%{
        -webkit-transform: scale(1.2,1.2);
        -webkit-transform: scale(1.2,1.2);
        -moz-transform: scale(1.2,1.2);
        -ms-transform: scale(1.2,1.2);
        -o-transform: scale(1.2,1.2);
        opacity:1;
    }
    100%{
        transform: scale(1,1);
        -webkit-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -o-transform: scale(1,1);
        opacity:1;
    }
}
@-webkit-keyframes scaleSize {
    0%{
        transform: scale(1,1);
       -webkit-transform: scale(1,1);
       -moz-transform: scale(1,1);
       -ms-transform: scale(1,1);
       -o-transform: scale(1,1);
       opacity:0;
    }
    50%{
        -webkit-transform: scale(1.2,1.2);
        -webkit-transform: scale(1.2,1.2);
        -moz-transform: scale(1.2,1.2);
        -ms-transform: scale(1.2,1.2);
        -o-transform: scale(1.2,1.2);
        opacity:1;
    }
    100%{
        transform: scale(1,1);
        -webkit-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -o-transform: scale(1,1);
        opacity:1;
    }
}
@-moz-keyframes scaleSize {
    0%{
        transform: scale(1,1);
       -webkit-transform: scale(1,1);
       -moz-transform: scale(1,1);
       -ms-transform: scale(1,1);
       -o-transform: scale(1,1);
       opacity:0;
    }
    50%{
        -webkit-transform: scale(1.2,1.2);
        -webkit-transform: scale(1.2,1.2);
        -moz-transform: scale(1.2,1.2);
        -ms-transform: scale(1.2,1.2);
        -o-transform: scale(1.2,1.2);
        opacity:1;
    }
    100%{
        transform: scale(1,1);
        -webkit-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -o-transform: scale(1,1);
        opacity:1;
    }
}
@-ms-keyframes scaleSize {
    0%{
        transform: scale(1,1);
       -webkit-transform: scale(1,1);
       -moz-transform: scale(1,1);
       -ms-transform: scale(1,1);
       -o-transform: scale(1,1);
       opacity:0;
    }
    50%{
        -webkit-transform: scale(1.2,1.2);
        -webkit-transform: scale(1.2,1.2);
        -moz-transform: scale(1.2,1.2);
        -ms-transform: scale(1.2,1.2);
        -o-transform: scale(1.2,1.2);
        opacity:1;
    }
    100%{
        transform: scale(1,1);
        -webkit-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -o-transform: scale(1,1);
        opacity:1;
    }
}
@-o-keyframes scaleSize {
    0%{
        transform: scale(1,1);
       -webkit-transform: scale(1,1);
       -moz-transform: scale(1,1);
       -ms-transform: scale(1,1);
       -o-transform: scale(1,1);
       opacity:0;
    }
    50%{
        -webkit-transform: scale(1.2,1.2);
        -webkit-transform: scale(1.2,1.2);
        -moz-transform: scale(1.2,1.2);
        -ms-transform: scale(1.2,1.2);
        -o-transform: scale(1.2,1.2);
        opacity:1;
    }
    100%{
        transform: scale(1,1);
        -webkit-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -o-transform: scale(1,1);
        opacity:1;
    }
}

@-webkit-keyframes fadeDown {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -o--transform: translate3d(0, 100%, 0);
    -moz--transform: translate3d(0, 100%, 0);
    -ms--transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes fadeDown {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -o--transform: translate3d(0, 100%, 0);
    -moz--transform: translate3d(0, 100%, 0);
    -ms--transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
@-o-keyframes fadeDown {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -o--transform: translate3d(0, 100%, 0);
    -moz--transform: translate3d(0, 100%, 0);
    -ms--transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
@-moz-keyframes fadeDown {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -o--transform: translate3d(0, 100%, 0);
    -moz--transform: translate3d(0, 100%, 0);
    -ms--transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
@-ms-keyframes fadeDown {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -o--transform: translate3d(0, 100%, 0);
    -moz--transform: translate3d(0, 100%, 0);
    -ms--transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
@media screen and (min-width: 415px){
    body,html{
        width: 100%;
        height: 100%;
        position: relative;
        background: #000;
    }
    .box{
        width: 414px;
        height: 736px;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -368px;
        margin-left: -207px;
    }
    .turn-down{
        width: 40px;
        height: auto;
        left: 50%;
        margin-left: -20px;
        bottom: 40px;
        position: absolute;
    }
    .swiper-slide:nth-child(1) img:nth-child(3){
        top: 250px!important;
        position: absolute;
        margin-top: 0;
    }
    .swiper-slide:nth-child(1) img:nth-child(4){
        top: 30px;
    }
    .swiper-slide:nth-child(1) img:nth-child(5){
        top: 160px;
    }
    .swiper-slide:nth-child(1) img:nth-child(6){
        bottom: 55px;
    }
    #musicBox{
        width: 40px;
        height: 40px;
        position: absolute;
        left: 20px;
        bottom: 20px;
    }
    .textBg{
        width: 100%;
        height: 100%;
        top: 30px!important;
    }
    .firend{
        top: 4px;
    }
    .writePName{
        top: 7px;
    }
    .jiangName{
        top: 80px!important;
    }
    .redHair{
        bottom: 125px!important;
        left: 155px!important;
    }
    .nojob{
        top: 2px;
    }
    .question{
        bottom: 60px!important;
    }
    .blackPName{
        bottom: 45px!important;
    }
    .jiang{
        width: 74%!important;
    }
}
